

a{
    color: green;
}
a:link{
    color: red;
}

a:visited{
    color: rgb(4, 0, 243);
}

a:hover{
    background-color: aqua;
    color: whitesmoke;
    font-size: 1.3rem;
    text-decoration: none;
}

a:active{
    color: blueviolet;
}

h1.baslik:hover{
    color: blueviolet;
    background-color: aquamarine;
}

ul li {
    list-style-type: square;
}